[Unit]
Description=Back up home every 4 hours

[Timer]
OnCalendar=*-*-* 00/4:00:00
RandomizedDelaySec=10min
Persistent=true

[Install]
WantedBy=timers.target
